<table>
  <tr>
    <th>Phone Number:</th>
    <td><%= phone_number.number %></td>
    <td><%= link_to 'Delete', [phone_number.person, phone_number],
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
  </tr>
</table>
