<table>
  <tr>
    <th>Email:</th>
    <td><%= email.address %></td>
    <% if user_signed_in? %>
      <td><%= link_to 'Edit', edit_person_email_path(@person, email) %></td>
      <td><%= link_to 'Delete', [email.person, email],
                      method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
</table>
